<!DOCTYPE html>
<html>
<head>
	<title>Find steam currency dif!</title>
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.css">
	<style type="text/css">
		.container {
			margin-top: 20px;
		}
	</style>
</head>
<body>
	<div class="ui container">
		<h1 class="ui dividing header">Steam-like Flask Website</h1>
		<form class="ui form" method="POST">
			<div class="field">
				<label>Select a Genre:</label>
				<select name="genre" class="ui dropdown">
					<option value="">Choose a genre</option>
					<option value="souls-like">Souls-like</option>
				</select>
			</div>
			<button class="ui button primary" type="submit">Send</button>
		</form>
	</div>

	<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/semantic-ui/dist/semantic.min.js"></script>
</body>
</html>
